/* latin */
@font-face {
  font-family: "Mada";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/mada/Mada-Light.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/mada/Mada-Light.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/mada/Mada-Light.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/mada/Mada-Light.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/mada/Mada-Light.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/mada/Mada-Light.svg#svgFontName") format("svg"); /* Legacy iOS */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Mada";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/mada/Mada-Regular.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/mada/Mada-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/mada/Mada-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/mada/Mada-Regular.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/mada/Mada-Regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/mada/Mada-Regular.svg#svgFontName") format("svg"); /* Legacy iOS */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Mada";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/mada/Mada-Medium.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/mada/Mada-Medium.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/mada/Mada-Medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/mada/Mada-Medium.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/mada/Mada-Medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/mada/Mada-Medium.svg#svgFontName") format("svg"); /* Legacy iOS */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Mada";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local("Mada SemiBold"),
    local("Mada-SemiBold"),
    url(https://fonts.gstatic.com/s/mada/v8/7Au_p_0qnzeSde3iOCX2zw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Mada";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/mada/Mada-SemiBold.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/mada/Mada-SemiBold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/mada/Mada-SemiBold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/mada/Mada-SemiBold.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/mada/Mada-SemiBold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/mada/Mada-SemiBold.svg#svgFontName") format("svg"); /* Legacy iOS */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Mada";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("fonts/mada/Mada-Bold.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/mada/Mada-Bold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/mada/Mada-Bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/mada/Mada-Bold.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/mada/Mada-Bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/mada/Mada-Bold.svg#svgFontName") format("svg"); /* Legacy iOS */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* outfit-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/outfit/outfit-v11-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/outfit/outfit-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/outfit/outfit-v11-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/outfit/outfit-v11-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/outfit/outfit-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/outfit/outfit-v11-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/outfit/outfit-v11-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background-color: #f8f9fa;
  font-family: "Outfit";
  color: #222d45;
}

a {
  color: $color;
  &:hover,
  &:focus {
    color: $color;
  }
}

.bg-primary {
  background-color: $color;
}
.rex-main-frame {
  background-color: #f8f9fa;
  padding-top: 0;
}

.rex-is-logged-in .rextree-left .rex-main-frame {
  padding-left: 0px !important;
}

.nav-tabs > li > a {
  margin-right: 0;
  border-color: none !important;
  border: none !important;
  background-color: transparent !important;
}

.nav-tabs > li > a:hover {
  background-color: white !important;
  color: $color !important;
}

.nav-tabs > li.active > a {
  background-color: white !important;
}

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:active {
  font-weight: bold;
  margin: 0 10px;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
  //padding: 10px;
  margin: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #f2f2f2 !important;
  border-right: 4px solid $color;
  z-index: 3;
  color: #222d45 !important;
}

.breadcrumb {
  border: none;
  //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e9ebf0;
  border-radius: 4px;
}

.panel-body {
  border-radius: 0 0 4px 4px;
}
.rex-form-panel-footer,
.panel-footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #f2f2f2 !important;
  background: white !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.panel-footer {
  .rex-form-panel-footer {
    border-top: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.panel-add > .panel-heading,
.panel-edit > .panel-heading {
  background-color: $color;
  border-color: #49bad9;
}

.panel-add .panel-body,
.panel-edit .panel-body {
  background-color: #ffffff;
}

.panel-add,
.panel-edit,
.panel-info,
.panel-default {
  border-color: $color;
  border: none;
}

.panel-add,
.panel-edit,
.panel-info {
  border: none;
}

.panel-add .panel-title,
.panel-edit .panel-title,
.panel-info .panel-title {
  color: white;
  position: relative;
  display: inline-block;
}

.panel-heading {
  border-bottom: none;
  height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.4667;
  .panel-title {
    font-weight: bold;
    line-height: 1.4667;
    font-size: 15px;
  }
}

.panel-heading .nav-tabs > li > a:not(.btn) {
  padding: 10px 15px;
  background: none;
  border: none;
  border-radius: 0;
  color: #fff;
}

.panel-edit .panel-heading .nav-tabs > li > a:not(.btn) {
  background: none;
}

.panel-edit .panel-heading .nav-tabs > li > a:not(.btn):hover,
.panel-edit .panel-heading .nav-tabs > li.active > a:not(.btn),
.panel-edit .panel-heading .nav-tabs > li.active > a:not(.btn):hover {
  background: white;
  color: $color;
  border: none;
}

.panel-add .panel-heading .rex-panel-options,
.panel-edit .panel-heading .rex-panel-options,
.panel-info .panel-heading .rex-panel-options {
  color: #fff;
}
.panel-heading .rex-panel-options .nav-tabs {
  position: relative;
  top: -8px;
  margin-top: -10px;
}

#rex-page-templates .panel-heading .rex-panel-options {
  margin-top: 8px;
}

.table-hover > tbody > tr:hover {
  background-color: #efefef;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #efefef;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: $color;
}

.quickfiles.quicknavi li a {
  color: $color;
}

.mblock_wrapper > div {
  border: none;
  box-shadow: none;
  padding: 0 !important;
}

.btn {
  border-radius: 4px !important;
  border-radius: 0.5rem !important;
  font-weight: 600;
}

.btn.gridblock-iscopied,
.btn-copy[data-bloecks-cutncopy-iscopied="true"],
.btn-cut[data-bloecks-cutncopy-iscopied="true"] {
  background-color: $color !important;
  color: #fff !important;
}

.btn-save,
.btn-apply,
.btn-edit,
.alert.alert-success {
  background-color: #198754;
  border-color: #198754;
}

.alert {
  border-radius: 4px;
}

.navbar-brand {
  display: none;
  img {
    height: 40px;
    margin-top: 5px;
  }
}

.panel {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

body.rex-is-logged-out .navbar-brand img {
  max-height: 140px;
  display: inline;
}

#rex-page-login .rex-page-main:before {
  border-color: $color transparent transparent transparent;
}

.rex-is-logged-in .rex-nav-top .navbar,
#rex-page-setup .rex-nav-top .navbar {
  background-color: $color;
}

#rex-page-login .rex-nav-top {
  background-color: $color;
  border-color: $color;
}

#rex-page-login {
  .panel-default {
    background-color: white !important;
    color: #222d45;
  }

  .input-group-addon,
  .input-group-btn .btn-view,
  .form-control {
    background: white !important;
    border-color: #ced4da !important;
  }

  .rex-redaxo-logo-r,
  .rex-redaxo-logo-e,
  .rex-redaxo-logo-d,
  .rex-redaxo-logo-a,
  .rex-redaxo-logo-x,
  .rex-redaxo-logo-o,
  .rex-redaxo-logo-reg {
    fill: $color !important;
  }
  .rex-redaxo-logo-cms {
    fill: #222d45 !important;
  }
}

.rex-nav-top {
  background-color: $color;
  z-index: 3;

  .navbar-default {
    z-index: 5;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      z-index: -1;
      background-size: cover;
      background: url("images/novinet-background-abstract-sw.png");
    }
  }
}

.rex-page-main-inner {
  padding-left: 25px;
  padding-right: 25px;
}

.rextree {
  border-left: 1px solid rgba(156, 165, 178, 0.3);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
}

.rextree .startarticle > a > i {
  color: #198754;
}
.rextree h4 a {
  color: #fff;
  margin-left: -20000px;
}

.rextree .rtpanel {
  border: none;
  background-color: transparent;
}

.rex-nav-main {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  li {
    transition: all 0.3s ease-in-out;
    & > a {
      padding-left: 40px;

      .novinet-icon-logo {
        filter: none !important;
        background-image: url(images/novinet-signet_black.png);
      }
    }
    &.rex-has-icon {
      & > a {
        i2 {
          background-color: #e4e6eb;
          padding: 8px;
          border-radius: 50%;
          margin-left: -28px;
          margin-right: 3px;
          background-size: 16px 16px;
          width: 30px !important;
          height: 30px !important;
          text-align: center;
          background-position: center center;
        }
      }
    }
    &.active,
    &:hover {
      i2 {
        background-color: $color !important;
        color: white;
      }
      .novinet-icon-logo2 {
        background-image: url(images/novinet-signet_white.png);
      }
    }
  }
}

.rex-has-icon.active a .novinet-icon-logo2,
a:hover .novinet-icon-logo2 {
  //filter: grayscale(100%) brightness(300%);
  //filter: opacity(0.4) drop-shadow(0 0 0 $color);
  color: white;
  background-color: $color;
}

.rex-nav-main li > a:hover,
.rex-nav-main li > a:focus {
  color: white;
}

.rex-slice-select > .dropdown > .btn-default {
  color: $color;
  background-color: #efefef;
}

.rex-slice-select > .dropdown > .btn-default:focus,
.rex-slice-select > .dropdown > .btn-default.focus,
.rex-slice-select > .dropdown > .btn-default:active,
.rex-slice-select > .dropdown > .btn-default.active,
.rex-slice-select > .dropdown > .btn-default:hover,
.rex-slice-select > .dropdown > .btn-default.hover,
.open > .rex-slice-select > .dropdown > .btn-default.dropdown-toggle,
.panel-info > .panel-heading,
.panel-add > .panel-heading,
.panel-edit > .panel-heading {
  background-color: $color;
  border-color: $color;
  border: 1px solid $color;
  color: #fff;
  position: relative;
}

.panel-info > .panel-heading,
.panel-add > .panel-heading,
.panel-edit > .panel-heading {
  z-index: 5;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: cover;
    background: url("images/novinet-background-abstract-sw.png");
  }
}

.rex-nav-meta .text-muted {
  color: #fff;
}

.rex-page-nav {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.rex-page-nav .nav-tabs {
  background-color: $color;
  position: relative;
  border: none;
  border-radius: 4px;
  z-index: 5;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background-size: cover;
    background: url("images/novinet-background-abstract-sw.png");
  }
}

.rex-page-nav .navbar {
  border: 0;
}

.rex-page-nav .navbar-default {
  border-radius: 0 0 4px 4px;
}

.rex-page-nav .navbar-default .navbar-nav > li {
  > a {
    color: #324050;
    margin: 9px 5px;
    padding: 3px 10px;
    font-weight: bold;
    background-color: white;
    border-radius: 4px;

    &:hover {
      background-color: $brightcolor !important;
      color: $color !important;
    }
  }
  &.active {
    > a {
      background-color: $brightcolor !important;
      color: $color !important;
    }
  }
}

.nv-nav-wrapper {
  background-color: $color;
  z-index: 3;
  height: 40px;
}

.rex-page-nav .nav-tabs > li > a:not(.btn):hover {
  background-color: white;
  border-radius: 0;
  border: 0;
  color: #fff;
}

.rex-page-nav .nav-tabs > li > a:not(.btn) {
  border: 0;
  font-weight: bold;
  background: none;
  padding-bottom: 10px;
  color: #fff;
}

.rex-page-nav .nav-tabs > li > a:not(.btn):hover {
  border: 0;
  background: white;
  color: $color;
  padding-bottom: 10px;
}

.rex-page-nav .nav-tabs > li.active > a:not(.btn),
.rex-page-nav .nav-tabs > li.active > a:not(.btn):hover {
  background-color: white;
  color: $color;
  border-radius: 0;
  border: 0;
  padding-bottom: 10px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: $color;
  border-color: $color;
}

.pagination > li > a,
.pagination > li > span {
  color: $color;
}

.rex-minibar-status-primary {
  background-color: $color;
}

.mform .mform-tabs .nav-tabs > li.active > a::before,
.mform .mform-tabs .nav-tabs > li:hover > a::after {
  transform: none;
  transition: none;
  width: 0;
  height: 0;
}

.gridblock .rex-js-widget-gridblock {
  float: right;
  .gridblock-template {
    border-radius: 4px 0 0 4px;
    border: 1px solid #e9ebf0;
  }

  .input-group-btn .btn {
    border-radius: 0 4px 4px 0 !important;
  }
}

.gridblock .gridblock-top {
  margin-bottom: 10px;
}

.gridblock .gridblock-top > dl > dt {
  display: none;
}

.gridblock .gridblock-preview-caption {
  float: left;
  padding: 13px 10px 6px;
}

.gridblock .gridblock-bottom > .tab-content > .tab-pane {
  padding: 20px;
}

.gridblock .tab-content {
  border: none;
  background-color: #fff;
}

.tab-content .sortitem {
  background: none;
  box-shadow: none;
}

.gridblock .tab-nav {
  background-color: $color;
  border: none;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
}

.gridblock .column-settings {
  padding: 0px 0;
}

.gridblock .column-slices,
.gridblock .column-input {
  padding: 20px 0;
}

.gridblock .column-input {
  box-shadow: none;
}

.gridblock .hiddenOpt.gridcolumnoptions {
  padding-top: 0;
}

.gridblock-preview > div {
  background: #324050;
}

.gridblock .tab-nav > li > a {
  border-radius: 0;
  color: white;
  padding: 10px;
}

.gridblock .tab-nav > li.active > a {
  color: $color;
}

.gridblock .column-settings .optionstoggler:hover {
  background: $color;
}

.gridblock .slider-handle {
  background: none;
  background-color: $color !important;
  box-shadow: none;
}

.form-control.gridblock-moduleinfo {
  background: #dfe3e9;
  font-weight: bold;
  border: none;
  box-shadow: none;
  padding: 20px;
  border-radius: 4px;
}

.gridblock-panel-columnspacer {
  margin: 0;
  border: 0;
}

.gridblock {
  .gridblock-bottom {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: none;

    .column-slice-functions {
      background: #dfe3e9;
      box-shadow: none;
      justify-content: space-between;
      border-radius: 4px 4px 0 0;

      .gridblock-moduleinfo,
      .dropdown.btn-block {
        order: 1;
        width: 70%;
        box-shadow: none;

        .btn-choosegridmodul {
          background: none;
          border: none;
          color: $color;

          &:hover {
            background: $color !important;
            border-color: $color !important;
          }
        }
      }

      .column-slice-sorter {
        order: 2;
        background: none;
        border: none;
        padding-right: 15px;
        a.btn-addgridmodule {
          color: #fff;
          background-color: #198754;

          &:hover {
            background-color: #45986c;
          }
        }
      }

      ~ .column-input {
        padding: 20px;
        background: #f5f5f5;
        margin-bottom: 20px;
        border-radius: 0 0 4px 4px;

        .rex-page-nav {
          box-shadow: none;
          margin-bottom: 0;
        }

        .mform {
          .mform-tabs {
            .tab-content {
              margin-bottom: 0px;
              padding: 20px 0 0 0;
              background: transparent;
            }

            .nav-tabs {
              background: $brightcolor;

              > li {
                a {
                  &:not(.btn) {
                    font-weight: bold;
                    &:hover {
                      color: $color !important;
                    }
                  }
                }

                &.active {
                  > a {
                    &:not(.btn),
                    &:hot(.btn):hover {
                      color: $color !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.gridblock .hiddenOpt.gridblockoptions {
  padding: 0;
  margin-bottom: 10px;
}

.gridblock .checkbox.toggle label input:checked,
.radio.toggle label input:checked {
  background: $color;
}

.gridblockcontentsettings-form {
  background-color: #dfe3e9;
}

.gridblockcontentsettings-form .nav-tabs {
  border: 0;
  background-color: #324050;
  margin-bottom: 0px;
}

.gridblockcontentsettings-form .nav-tabs li > a {
  color: #dfe3e9;
  font-weight: bold;
}

.gridblockcontentsettings-form .nav-tabs li > a:hover,
.gridblockcontentsettings-form .nav-tabs li.active > a {
  background-color: #dfe3e9 !important;
  color: #324050 !important;
}

.gridblockcontentsettings-form .rex-form-group.active {
  padding: 20px 20px;
}

.gridblockcontentsettings-form .tab-content {
  padding: 0 !important;
  background-color: #dfe3e9;
}

.gridblockcontentsettings-tab-icon-right {
  color: white;
}

.gridblockcontentsettings-toggler,
.gridblockcontentsettings-toggler:active,
.gridblockcontentsettings-toggler:hover {
  background-color: #324050 !important;
  color: white !important;
  border: 1px solid #324050;
}

.gridblockcontentsettings-options {
  background-color: #f5f5f5 !important;
  border: 0;
  padding-top: 20px;
}

.gridblockcontentsettings-group,
.nvmodulesettings-group {
  margin-bottom: 20px;

  .gridblockcontentsettings-heading,
  .nvmodulesettings-heading {
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;

    a {
      color: #324050;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 0;
      text-decoration: none;

      &:hover,
      &:hover:after,
      &:focus,
      &:after,
      &[aria-expanded="true"],
      &[aria-expanded="true"]:after,
      &[aria-expanded="false"]:hover,
      &[aria-expanded="false"]:hover:after {
        color: #324050;
      }
    }
  }
  .gridblockcontentsettings-body,
  .nvmodulesettings-body {
    padding: 20px 0;
    border-bottom: 1px solid #c0c0c0;
  }
}

.btn-clang:active,
.btn-clang.active,
.open > .btn-clang.dropdown-toggle {
  background: $brightcolor !important;
  color: $color !important;
  border-color: #e9ebf0;
}

.btn-clang {
  color: $color !important;
  border-color: #e9ebf0;
}

.nv-modulesettings {
  border: 0;
}

.nv-modulesettings .btn.btn-abort,
.nv-modulesettings .btn.btn-abort:hover,
.nv-modulesettings .btn.btn-abort:active {
  border: none;
  background-color: #dfe3e9 !important;
  padding: 10px 10px;
  font-weight: bold;
}

.nv-modulesettings .nv-modulesettings-toggler-left {
  margin-left: 10px;
}

.nv-modulesettings .nv-modulesettings-toggler-right {
  margin-right: 10px;
}

.nv-modulesettings-form {
  background-color: #dfe3e9;
  border: none;
  padding-top: 5px;
}
.nv-modulesettings-form .nav-tabs {
  background-color: #324050 !important;
  margin-bottom: 0;
}

.nv-modulesettings-form .nav-tabs > li > a {
  color: #f5f5f5 !important;
  font-weight: bold;
}

.nv-modulesettings-form .nav-tabs > li.active > a,
.nv-modulesettings-form .nav-tabs > li:hover > a {
  background-color: #f5f5f5 !important;
  color: #324050 !important;
}

.nv-modulesettings-form .tab-content {
  background-color: #f5f5f5;
  padding: 20px;
}

.nv-modulesettings-backend-toggler,
.nv-modulesettings-backend-toggler:active,
.nv-modulesettings-backend-toggler:hover {
  background-color: #324050 !important;
  color: white !important;
  border: 1px solid #324050;
}

.nv-modulesettings-backend-options {
  background-color: #f5f5f5 !important;
  border: 0;
  padding-top: 20px;
}

.nv-modulesettings .slider-handle {
  background: none;
  background-color: $color !important;
  box-shadow: none;
}

.gridblockcontentsettings,
.nv-modulesettings-form-group {
  dt {
    display: block !important;
    label {
      font-size: 13px;
    }
  }
  dd {
    display: block !important;
  }

  .slider {
    &.slider-horizontal {
      margin: 10px 0 0 10px;
    }
  }
}

.bootstrap-select > .dropdown-toggle {
  background-color: #fff;
  border: 1px solid #c1c9d4;
}

.control-label {
  text-align: left !important;
  width: 100%;
  padding-top: 0 !important;
}

.control-label > label {
  display: block;
  padding-top: 0;
  font-size: 13px;
}

.col-sm-10 {
  width: 100% !important;
}

.mblock_wrapper span.sorthandle {
  left: -10px;
  top: 0;
  bottom: 0;
  border-left: dotted 4px #ccc;
}

.mblock_wrapper span.removeadded {
  top: 8px;
  right: 35px;
  z-index: 20;
}

.rex-online {
  color: #198754;
}

.rex-offline {
  color: #d9534f;
}

.rex-slice fieldset:first-of-type legend {
  display: none;
  padding: 0;
  margin: 0;
}

.rex-slice .panel-add .panel-body,
.rex-slice .panel-edit .panel-body {
  background: #f5f5f5 !important;
}

.rex-slice .panel-body .rex-page-nav {
  box-shadow: none;
  margin-bottom: 0;
}

.rex-slice .panel-body .mform .mform-tabs .tab-content {
  margin-bottom: 0px;
  padding: 20px 0 0 0;
  background: transparent;
}

.rex-slice .panel-body .mform .mform-tabs .nav-tabs {
  background: $brightcolor;
  background: $color;
}

.rex-slice .panel-body .mform .mform-tabs .nav-tabs > li a {
  font-weight: bold;
}

.rex-slice .panel-body .mform .mform-tabs .nav-tabs > li.active > a:not(.btn),
.rex-slice .panel-body .mform .mform-tabs .nav-tabs > li.active > a:not(.btn):hover,
.rex-slice .panel-body .mform .mform-tabs .nav-tabs > li > a:not(.btn):hover {
  color: $color !important;
}

.form-control {
  background-color: #fff;
  border-radius: 4px;
}

.form-control[readonly] {
  background-color: #fff;
  cursor: not-allowed;
}

.btn.show-module-preview {
  background-color: $brightcolor;
  border-color: $brightcolor;
  color: $color;
  border-radius: 4px;
}

.rex-style-select {
  border-radius: 4px;
}

.btn-group {
  > .btn {
    &:first-child:not(:last-child):not(.dropdown-toggle) {
      border-radius: 4px 0 0 4px !important;
    }
    &:last-child:not(:first-child):not(.dropdown-toggle) {
      border-radius: 0px 4px 4px 0 !important;
    }
  }
}

#module-preview {
  .container {
    &:last-of-type {
      border-radius: 0 0 4px 4px;
    }
  }
  .nv-modal-header {
    background-color: $color;
    border-radius: 4px 4px 0 0;
    position: relative;
    z-index: 5;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      z-index: -1;
      background-size: cover;
      background: url("images/novinet-background-abstract-sw.png");
    }

    #module-preview-search {
      color: $color;

      background: #efefef;
      &::placeholder {
        color: $color;
      }

      &:focus {
        border-color: white;
        box-shadow:
          inset 0 1px 1px rgb(0 0 0 / 8%),
          0 0 8px $color;
      }
    }
  }

  #nv-modulepreview-tabs {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    background-color: $color;
    border-radius: 4px;
    z-index: 5;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      z-index: -1;
      background-size: cover;
      background: url("images/novinet-background-abstract-sw.png");
    }
    li {
      a {
        margin: 10px;
        padding: 4px 6px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;

        color: white;
        &:hover,
        &:active {
          color: $color;
          background-color: #f8f9fa !important;
        }
      }
      &.active {
        a,
        a:hover,
        a.active {
          color: $color;
          background-color: #f8f9fa !important;
        }
      }
    }
  }

  .module-list {
    .nv-category {
      background: $brightcolor;
      color: $color;
      border-radius: 4px;
      box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
      margin-top: 0;
    }

    .card {
      box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
      transition: all 0.3s ease-in-out;
      border-radius: 4px;

      .module {
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        .description {
          transition: all 0.3s ease-in-out;
        }
      }
      &:hover,
      &:active {
        .module {
          background-color: $color;
          color: white;
          .description {
            color: white;
          }
        }
      }
    }

    .nv-copy {
      box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
      margin-top: 0 !important;
      border-radius: 4px;
    }
  }
}

.btn-default,
.btn-abort,
.btn-back,
.btn-clang,
.btn-move,
.btn-popup,
.btn-reset,
.btn-search,
.btn-copy,
.btn-cut {
  border-color: #e9ebf0;
}

.checkbox.toggle label input,
.radio.toggle label input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3em;
  height: 1.5em;
  background: #ddd;
  vertical-align: middle;
  border-radius: 1.6em;
  position: relative;
  outline: 0;
  margin-top: -3px;
  margin-right: 10px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.checkbox.toggle label input::after,
.radio.toggle label input::after,
.radio.switch label input::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  background: white;
  position: absolute;
  border-radius: 1.2em;
  transform: scale(0.7);
  left: 0;
  box-shadow: 0 1px rgba(0, 0, 0, 0.5);
  transition: left 0.1s ease-in-out;
}

.checkbox.toggle label input:checked,
.radio.toggle label input:checked {
  background: $color;
}

.checkbox.toggle label input:checked::after {
  left: 1.5em;
}

.radio.switch label {
  margin-right: 1.5em;
}

.radio.switch label input {
  width: 1.5em;
  margin-right: 5px;
}

.radio.switch label input:checked::after {
  transform: scale(0.5);
}

.radio.switch label input::before {
  background: $color;
  opacity: 0;
  box-shadow: none;
}

.radio.switch label input:checked::before {
  animation: radioswitcheffect 0.65s;
}

@keyframes radioswitcheffect {
  0% {
    opacity: 0.75;
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.rex-page-section {
  .panel-edit {
    .panel-body {
      padding-bottom: 10px;
    }
  }
}

.mform {
  &.form-horizontal {
    .collapse-group {
      .btn-white {
        font-weight: bold;
        &:hover,
        &:focus,
        &[aria-expanded="true"] {
          background: $brightcolor;
          color: $color;
        }
        &:after {
          color: $color;
          margin-top: 3px;
        }
      }
      .collapse,
      .collapsing {
        margin-top: 20px;
      }
    }
  }
}

.rex-nav-main-navigation {
  .rex-nav-main-list {
    li {
      padding: 2px 10px;
      cursor: pointer;
      a {
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: 0;
        border-radius: 1rem;
        font-weight: 600;

        i {
          margin-right: 10px !important;
        }
      }

      &.active a,
      a:hover,
      a:focus {
        border-right: 0;
        color: $color !important;
      }
    }
  }
}
