.rextree {
  background: white;
}

.rextree a > i {
  color: #808080;
}

.rextree .rtpanel {
  color: #222d45;
}

.jstree-anchor,
.jstree-anchor:link,
.jstree-anchor:visited,
.jstree-anchor:hover,
.jstree-anchor:active {
  color: #222d45;
}

.rex-nav-main {
  background: white;
}

.rex-nav-main-title {
  color: #222d45;
}

.rex-nav-main li > a {
  color: #222d45;
}

.rex-nav-main li > a:hover,
.rex-nav-main li > a:focus {
  background-color: #f2f2f2 !important;
  border-right: 4px solid $color;
  z-index: 3;
  color: #222d45 !important;
}

.rextree-left .rextree .jstree-wholerow-hovered,
.rextree-left .rextree .jstree-wholerow-clicked {
  background: #efefef;
}
